@model BasicCrudMvc.core.ViewModels.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>@Model.Message</div>
</div>


<table class="table">
    <tbody>
    @foreach(var user in Model.Users) {
        <tr>
            <td>@user.Name</td>
            <td>@user.Location</td>
            <td>@user.Email</td>
            <td>@user.Age</td>
        </tr>
    }
    
    </tbody>
</table>